

.box{
    background: #87CEFA;
}

.box__flex{
    display: flex;
    justify-content: space-around;
}

.box__titulo{
    color: whitesmoke;
    font-size: 3rem;
    padding: 3rem;
    margin: 3rem;
    text-align: center;
}

.box__img{
    width: 200px;
    margin-top: 1rem;
}

.box__livros{
    width: 17%;
    height: 340px;
    margin-bottom: 5rem;
    background: white;
    text-align: center;
    border-radius: 1rem;
    transition: 300ms;
}

.box__livros:hover{
    width:calc(17% + 1%);
    margin-bottom: 5rem;
    background: white;
    text-align: center;
    border-radius: 1rem;
}

.box__texto{
    background: white;
    margin: 1rem;
}

.pato{
    margin-top: 70px;
}
